* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  border-bottom: none;
  color: #a7b7d6;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 1;
}

#workspaces {
  padding-right: 12px;
  padding-left: 6px;
}

#workspaces button {
  padding: 0;
  color: #a7b7d6;

  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -1px transparent;
  padding: 0 4px;
  font-weight: 100;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inset 0 -2px #a7b7d6;
}

#workspaces button.focused {
  color: #ebb9b9;
  font-weight: 900;
}

#workspaces button.urgent {
  background-color: #de956f;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#custom-clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  border-radius: 0px;
  padding-right: 16px;
  padding-left: 4px;
  color: #2e3440;
}

#window {
  color: #ebb9b9;
}

#battery {
  color: #b1dba4;
}

#battery.charging {
  color: #b8dceb;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #de956f;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#custom-clock {
  color: #eac1c1;
}

#cpu {
  color: #f6bbe7;
}

#memory {
  color: #b8dceb;
}

#backlight {
  color: #a7b7d6;
}

#network {
  color: #c8cca7;
}

#network.disconnected {
  color: #de956f;
}

#pulseaudio {
  color: #b1dba4;
}

#pulseaudio.muted {
  color: #ddc7a1;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  color: #63718b;
}

#temperature.critical {
  color: #de956f;
}

#tray {
  color: #63718b;
}

#idle_inhibitor {
  color: #d4be98;
}

#idle_inhibitor.activated {
  color: #89b482;
}
